.home__container{
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  /* grid-template-columns: 1fr .1fr; */
}

.home__content{
  display: grid;
  grid-template-columns: 1fr .2fr;
  width: 100%;
}

.home__list {
  list-style: none;
}

.home__list li a{
  text-decoration: none;
  color: #707070;
}

.home__list li a:hover{
  color: #F0EFEF;
  transition: .3s;
}

@media screen and (max-width: 932px) {
  .home__content{
    display: flex;
    flex-direction: column;
  
  }
}