.home__container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home__list {
  list-style: none;
}

.home__list li a{
  text-decoration: none;
  color: #707070;
}

.home__list li a:hover{
  color: #F0EFEF;
  transition: .3s;
}